In [1]:
import pandas as pd
import numpy as np

In [2]:
submission_list = [
    '../../submissions/lgb_model_4.csv',
    '../../submissions/lgb_model_3.csv',
    '../../submissions/lgb_model_1.csv',
]

In [3]:
list_ = list()
main = pd.read_csv(submission_list[0])
list_.append(main)
for file_ in submission_list[1:]:
    df = pd.read_csv(file_, usecols=['HasDetections'])
    list_.append(df)

solutions = pd.concat(list_, axis = 1, ignore_index = True)

In [16]:
solutions.head()

                                  0         1         2         3
0  00008887d503218e314102a1ca9d792f  0.379323  0.355201  0.325523
1  00039a87320b6e22296861444c8158b6  0.451103  0.541694  0.540733
2  0005056e6fadb518ed9c2c36e7b237be  0.191806  0.182518  0.182362
3  0005123e9e1da1dd475c4dd0eb9d3687  0.210410  0.239133  0.241362
4  00064b6de37e03021d18d156a6a72688  0.582751  0.626082  0.575158

In [17]:
df_sol = solutions.iloc[:,list(range(1, len(submission_list)+1))]

In [18]:
df_sol.head()

          1         2         3
0  0.379323  0.355201  0.325523
1  0.451103  0.541694  0.540733
2  0.191806  0.182518  0.182362
3  0.210410  0.239133  0.241362
4  0.582751  0.626082  0.575158

In [19]:
df_sol['avg'] = solutions.mean(axis=1)

In [20]:
df_sol.head()

          1         2         3       avg
0  0.379323  0.355201  0.325523  0.353349
1  0.451103  0.541694  0.540733  0.511177
2  0.191806  0.182518  0.182362  0.185562
3  0.210410  0.239133  0.241362  0.230302
4  0.582751  0.626082  0.575158  0.594664

In [21]:
final_df = pd.DataFrame({'MachineIdentifier': solutions[0], 'HasDetections': df_sol['avg']})

In [22]:
final_df.head()

                  MachineIdentifier  HasDetections
0  00008887d503218e314102a1ca9d792f       0.353349
1  00039a87320b6e22296861444c8158b6       0.511177
2  0005056e6fadb518ed9c2c36e7b237be       0.185562
3  0005123e9e1da1dd475c4dd0eb9d3687       0.230302
4  00064b6de37e03021d18d156a6a72688       0.594664

In [23]:
final_df.to_csv('../../submissions/ensemble_1.csv', index=None)